.badge {
  display: inline-table;
  padding: 4px;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  width: 100px;
  /* align-items: center; */
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
